<!DOCTYPE html>
<html>
  <head>
    <title>Handson4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link
      href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"
      type="text/javascript"
    ></script>

    <style type="text/css">
      .active {
        background-color: green !important;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="#">Payroll</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Goals</a>
          </li>
        </ul>
      </div>
    </nav>

    <form>
      <div class="container-fluid">
        <h2>New Employee</h2>
        <div class="row">
          <div class="col-md-4">
            <label>First Name</label>
            <input type="text" class="form-control" id="firstName" />
          </div>
          <div class="col-md-4">
            <label>Middle Name</label>
            <input type="text" class="form-control" id="middleName" />
          </div>
          <div class="col-md-4">
            <label>Last Name</label>
            <input type="text" class="form-control" id="lastName" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Address Line 1</label>
            <input type="text" class="form-control" id="address1" />
          </div>
          <div class="col-md-6">
            <label>Address Line 2</label>
            <input type="text" class="form-control" id="address2" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label>Email</label>
            <input type="email" class="form-control" id="eamil" required />
          </div>
          <div class="col-md-3">
            <label>Password</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <div class="col-md-3">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="sel1">Department</label>
              <select class="form-control" id="department">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <label>Date of Birth</label>
            <input type="text" class="form-control" id="dateOfBirth" />
          </div>
          <div class="col-lg-3">
            <label>Gender</label><br />
            <label class="radio-inline">
              <input type="radio" name="optradio" />Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" />Female
            </label>
          </div>
          <div class="col-lg-3">
            <label>Permanent</label><br />
            <label class="checkbox-inline">
              <input type="checkbox" />
            </label>
          </div>
        </div>
        <button type="submit" ng-click="levelCD()" class="btn btn-primary">
          Save
        </button>
      </div>
    </form>
    <script>
      $("#dateOfBirth").datepicker({
        uiLibrary: "bootstrap4",
        format: "dd/mm/yyyy",
      });
    </script>
    <script>
      $("button").click(function () {
        $("button").removeClass("active");
        $(this).addClass("active");
      });
    </script>
  </body>
</html>
